
@{
    ViewBag.Title = "Index";
}

<h2>Available actions</h2>

<ul>
    <li>@Html.ActionLink("List FormTypes", "ListFormTypes")</li>
    <li>@Html.ActionLink("Manage FormTypes","ManageFormTypes")</li>
</ul>
